body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  canvas {
    border: 1px solid #000;
    display: block;
    margin: 20px auto;
  }

  h2{
    color: green;
  }

  h1{
    color: green;
  }